<!DOCTYPE html>
<html ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Notes App</title>
  </head>
  <body ng-controller="MainCtrl as ctrl">
    <form name="myForm" novalidate>
      <input type="text" name="uname" class="username" ng-model="ctrl.user.username" required placeholder="Username" ng-minlength="4">
      <input type="password" name="pwd" class="password" ng-model="ctrl.user.password" required placeholder="Password">

      <ng-form name="profile">
        <input type="text" name="firstName" ng-model="ctrl.user.profile.firstName" required placeholder="FirstName">
        <input type="text" name="middleName" ng-model="ctrl.user.profile.middleName" required placeholder="MiddleName">
        <input type="text" name="lastName" ng-model="ctrl.user.profile.lastName" required placeholder="LastName">
      </ng-form>

      <span ng-show="myForm.profile.$invalid">Please fill out the profile information</span>
      <input type="submit" name="submit" value="Submit" ng-disabled="myForm.$invalid">
    </form>
    <script src="../angular.js" charset="utf-8"></script>
    <script type="text/javascript">
      angular.module('notesApp', [])
        .controller('MainCtrl', [function () {
          var self = this
        }]);
    </script>
  </body>
</html>
