<!DOCTYPE html>
<html ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Note App</title>
  </head>
  <body ng-controller="MainCtrl as ctrl">
    <input type="text" name="username" ng-model="ctrl.username">
    <input type="password" name="password" ng-model="ctrl.password">
    <button type="button" name="button" ng-click="ctrl.change()">Change value</button>
    <button type="button" name="button" ng-click="ctrl.submit()">Submit</button>

    <script src="../angular.js" charset="utf-8"></script>
    <script type="text/javascript">
      angular.module('notesApp', [])
        .controller('MainCtrl', [function() {
          var self = this;
          self.change = function () {
            self.username = 'Changed';
            self.password = 'password';
          };
          self.submit = function () {
            console.log('User clicked submit with',self.username ,self.password);
          }
        }]);
    </script>
  </body>
</html>
